/*
html, body {
    background:url('../assets/oldtimes.png') center center no-repeat;
    height: 100%;
    background-size:cover;
}

#main {
    background-color: crimson;
    height: 100%;
    background-size:cover;
}

#aboutus {
    background-color: purple;
    height: 100%;
    background-size:cover;
}

#events {
    background-color: pink;
    height: 100%;
    background-size:cover;
}


#logo img{
    margin:0 auto !important;
    padding-top:20px;
    transform: scale(50%, 50%);
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
}

#intro p{
    color: darkgoldenrod;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8em;
}
*/

/* Fonts */
h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

h2 {
    color: #94c2c7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    color: #94c2c7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}


/* Sections */

.nav-item {
    padding: 0px 10px;
}

#main {
    background:url('../assets/header.png') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #94c2c7;
    height: 100%;
    min-height: 800px;
}

#about {
    background-color: #7d69ff;
}

#events {
    background-color: #435066;
}

#merch {
    background-color: #7d69ff;
}

#contact {
    background-color: #435066;
}

/* Images */
.navlogo {
    height: auto;
    width: auto;
    max-height:75px;
    max-width:75px;
}

.aboutimg {
    height: auto;
    width: auto;
    max-height:300px;
    max-width:300px;
    border-radius: 50%;
}

.btn {
    background-color: palevioletred;
    color:white;
    text-align: center;
}

.btn:hover {
    background-color: pink;
}