html, body {
    background:url('../assets/oldtimes.png') center center no-repeat;
    height: 100%;
    background-size:cover;
}

#logo img{
    margin:0 auto !important;
    padding-top:20px;
    transform: scale(50%, 50%);
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
}

#intro p{
    color: darkgoldenrod;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8em;
}